---
import Layout from "../../layouts/Layout.astro";
import AllFromCategory from "../../components/pages/category/index";
---

<Layout title='Kartki bibliograficzne'>
  <main>
    <AllFromCategory client:load />
  </main>
</Layout>
