---
import Layout from "../../layouts/Layout.astro";
import Category from "../../components/pages/category/Category";
---

<Layout title='Karty bibliograficzne'>
  <main>
    <Category client:load />
  </main>
</Layout>
