---
import Layout from "../../layouts/Layout.astro";
import CardsByCategory from "../../components/pages/category_by_year/index";
---

<Layout title='Kartki bibliograficzne'>
  <main>
    <CardsByCategory client:load />
  </main>
</Layout>
