---
import Years from "../components/pages/years/Years";
import Themes from "../components/pages/themes/Themes";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Karty bibliograficzne'>
  <p class='mx-2 mt-3 md:mx-[5%] text-xl font-mono'>Roczniki:</p>
  <Years client:load />
  <p class='mx-2 md:mx-[5%] text-xl font-mono'>Tematy:</p>
  <Themes client:load />
</Layout>
