---
import Years from "../components/years.tsx/Years";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Kartki bibliograficzne'>
  <main>
    <Years client:load />
  </main>
</Layout>
