---
import Cards from "../../components/pages/cards";
import Layout from "../../layouts/Layout.astro";
---

<Layout title='Kartki bibliograficzne'>
  <main>
    <Cards client:load />
  </main>
</Layout>
