---
import Layout from "../../layouts/Layout.astro";
import Cards from "../../components/cards/Cards";
---

<Layout title='Kartki bibliograficzne'>
  <main>
    <Cards client:load />
  </main>
</Layout>
