---
import Layout from "../../layouts/Layout.astro";
import CardsByTitle from "../../components/pages/title_page/index";
---

<Layout title='Karty bibliograficzne'>
  <main>
    <CardsByTitle client:load />
  </main>
</Layout>
