---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='flex flex-col min-h-screen'>
    <header class='flex-none bg-blue-600 text-white py-5 font-bold'>
      <div class='mx-2 md:mx-[10%]'>
        <h1 class='text-lg md:text-3xl'>
          <a href='/' title='home'>Bibliografia Ziemi Lubuskiej 1945-1989</a>
        </h1>
      </div>
    </header>
    <main class='text-sm bg-gray-100 flex-1'>
      <slot />
    </main>
    <footer class='flex-none bg-blue-600 text-white py-5 font-bold'>
      <div class='mx-2 md:mx-[10%]'>
        <a class='uppercase' href='/about'>O projekcie</a>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
